[submodule "examples/cryptol-specs"]
	path = examples/cryptol-specs
	url = https://github.com/GaloisInc/cryptol-specs.git
[submodule "deps/libBF"]
	path = deps/libBF
	url = git@github.com:GaloisInc/libBF-hs.git
